.home-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-header .logo {
  display: flex;
  justify-content: flex-start;
  transform: scale(1.5);
}

.home-header .logo:hover {
  cursor: pointer;
}

.home-header .logo img {
  width: 120px;
  height: auto;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 30px;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  opacity: 1;
  text-decoration: none;
  color: #ff1493;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c71585;
}
